/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  background-color: #0c0a08;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 11px;
}
nav {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}
nav a {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding-right: 10px;
}
@media (max-width: 500px) {
  nav a {
    font-size: 1.2rem;
    padding-right: 5px;
  }
}
footer {
  background-color: #0c0a08;
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .fab {
  color: #ffffff;
  font-size: 2.6rem;
  padding-left: 10px;
  padding-right: 10px;
}
footer .footerSpace {
  max-width: 800px;
}
h1 {
  text-transform: capitalize;
  font-family: 'Fjalla One', sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  padding-top: 50px;
  color: #ffffff;
}
@media (max-width: 500px) {
  h1 {
    font-size: 6rem;
    padding-bottom: 20px;
    padding-top: 0px;
  }
}
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("img/littlefeet.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.intro {
  display: inline-block;
  max-width: 700px;
  width: 90%;
}
.intro .introQuote {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.45rem;
  text-transform: uppercase;
  padding-bottom: 10%;
  color: #ffffff;
}
@media (max-width: 500px) {
  .intro .introQuote {
    display: none;
  }
}
h3 {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  color: #ffffff;
  padding-bottom: 20px;
}
.driverRiderWrapper {
  display: flex;
  justify-content: space-around;
}
.driverRiderWrapper .driverRider {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  text-decoration: none;
  color: #ffffff;
}
@media (max-width: 500px) {
  .driverRiderWrapper .driverRider {
    font-size: 3.2rem;
  }
}
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel img {
  max-width: 800px;
  width: 80%;
  padding: 10px;
  display: none;
}
.left-button .fas,
.right-button .fas {
  font-size: 3rem;
  color: #0c0a08;
  display: flex;
  padding-bottom: 0.38rem;
  border-radius: 0.2rem;
  margin-left: 10px;
  margin-right: 10px;
}
.informationWrapper {
  max-width: 700px;
  width: 90%;
  margin: 0 auto;
}
.informationWrapper .information {
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .informationWrapper .information {
    display: flex;
    flex-direction: column;
  }
}
.informationWrapper .information h2 {
  color: #0c0a08;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  font-size: 2.4rem;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 50px 100px;
}
@media (max-width: 500px) {
  .informationWrapper .information h2 {
    display: flex;
    flex-direction: column;
    margin: 50px;
  }
}
.informationWrapper .information p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 45px;
  line-height: 1.2;
  text-align: center;
}
.informationWrapper .information .blackbgwhitetxt {
  background-color: #404040;
  color: #ffffff;
}
.buttonWrapper {
  display: flex;
  justify-content: center;
}
.whitespace {
  display: inline-block;
  height: 60px;
}
@media (max-width: 500px) {
  .whitespace {
    height: 20px;
  }
}
.smwhitespace {
  display: inline-block;
  height: 20px;
}
@media (max-width: 500px) {
  .smwhitespace {
    height: 10px;
  }
}
.description {
  color: #0c0a08;
  max-width: 500px;
  padding: 15%;
  line-height: 1.5rem;
  font-size: 1rem;
}
.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 20vh;
}
.icon-triad {
  padding: 5%;
  font-size: 10rem;
  display: flex;
  justify-content: space-evenly;
}
.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c0a08;
  width: 150px;
  height: 50px;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 5px;
}
.button a {
  text-decoration: none;
  color: #ffffff;
}
@media (max-width: 500px) {
  .button {
    width: 100%;
    height: 60px;
  }
}
.buttonhover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #404040;
  width: 150px;
  height: 50px;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 5px;
}
.buttonhover a {
  text-decoration: none;
  color: #ffffff;
}
@media (max-width: 500px) {
  .buttonhover {
    width: 100%;
    height: 60px;
  }
}
