.description {
	color: @almostblack;
	max-width: 500px;
}

.about-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-height: 20vh;
}

.icon-triad {
	display: flex;
	justify-content: space-evenly;
}

.icon-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	i {
		padding: 5%;
		font-size: 10rem;
	}
}

.about {
	h1 {
		padding-top: 0px;
	}
}