.description {
	color: @almostblack;
	max-width: 500px;
	padding: 15%;
	line-height: 1.5rem;
	font-size: 1rem;
}

.about-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-height: 20vh;
}

.icon-triad {
	padding: 5%;
	font-size: 10rem;
	display: flex;
	justify-content: space-evenly;
}

.icon-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
