.description {
	color: @white;
	max-width: 500px;
	padding: 5%;
	line-height: 1.5rem;
}

.about-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-height: 50vh;
}

.about-sub-wrapper {

}