h1 {
    text-transform: capitalize;
    font-family: 'Fjalla One', sans-serif;
    font-size: 5.0rem;
    text-transform: uppercase;
    padding-top: 50px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
}

.intro {
    display: inline-block;
    width: 800px;
    background-color: aqua;
}

.introQuote {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.45rem;
    text-transform: uppercase;
    padding-bottom: 10%;
}

h3 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
}

.driverRider {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    text-decoration: none;
    // color: @white;
}

.driverRiderWrapper {
    display: flex;
    justify-content: space-around;
}