h1 {
    text-transform: capitalize;
    font-family: 'Fjalla One', sans-serif;
    font-size: 5.0rem;
    text-transform: uppercase;
    padding-top: 50px;
    color: @white;
}

.wrapper {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("img/littlefeet.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @media @phone {
        
    }
}

.intro {
    display: inline-block;
    width: 800px;
}

.introQuote {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.45rem;
    text-transform: uppercase;
    padding-bottom: 10%;
    color: @white;
}

h3 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    color: @white;
}

.driverRider {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    text-decoration: none;
    color: @white;
}

.driverRiderWrapper {
    display: flex;
    justify-content: space-around;

}

.carousel {
	display: flex;
	justify-content: center;
	align-items: center;

	.img {
		display: none;
	}
}

.left-button, .right-button {
	font-size: 3rem;
	background: @almostblack;
	color: @white;
	display: flex;
	// align-items: center;
	padding-bottom: .38rem;
	border-radius: .2rem;
	// flex-grow: .05;
	// text-align: center;
}
